body {
font-family: cursive;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
  background-color: rgb(243, 243, 243);
}

h1 {
  color: #2c3e50;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: block;
  /* background-color: rgb(199, 228, 218); */
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #0d5663bd;
  background-color: #bde6f0;
  border-radius: 9px;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  background-color: #3498db;
  color: #fff;
}
img {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
}
